<html>

<head>
<meta charset="utf-8" />
<title>便民药房</title>
<link rel="stylesheet"
	href="/static/plugs/layui/css/layui.css"
	type="text/css" />
<link rel="stylesheet"
	href="/static/plugs/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="/static/plugs/bigautocomplete/css/jquery.bigautocomplete.css"
	type="text/css" />



<script type="text/javascript"
	src="/static/plugs/jquery-2.1.1/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
	src="/static/plugs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/plugs/bigautocomplete/js/jquery.bigautocomplete.js"></script>
<script src="/static/plugs/layui/layui.all.js"></script>

<style>
</style>

</head>

<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default navbar-inverse navbar-fixed-top"
					role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span><span
								class="icon-bar"></span><span class="icon-bar"></span><span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">便民药房</a>
					</div>

					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#"><span th:text="${hospital}"></span></a></li>
						</ul>

						<ul class="nav navbar-nav pull-right" style="margin-right: 16px;">

							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" th:text="${epUser.username}"><strong
									class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li><a href="/logout">退出</a></li>
								</ul></li>
						</ul>


					</div>

				</nav>
				<div class="row clearfix" style="margin-top: 60px;">
					<div class="col-md-4 column">
						<h3>便捷购物</h3>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" style="height: 40px;">

						<div class="row clearfix">
							<div class="col-md-3">
								<span>病人信息</span>
							</div>
							<div class="col-md-3"></div>
							<div class="col-md-3"></div>
							<div class="col-md-3">
								<input type="text" class="form-control" placeholder="输入病人信息快速获取"
									style="margin-top: -7px;" id="inpatientname">
							</div>
						</div>

					</div>
					<div class="panel-body">
						<div class="row clearfix" style="margin-top: 12px;">

							<div class="col-md-3 column">
								<div class="input-group">
									<span class="input-group-addon">病人姓名</span> <input type="text"
										class="form-control" placeholder="姓名" id="name">
								</div>
							</div>
							<div class="col-md-3 column">
								<div class="input-group">
									<span class="input-group-addon">床&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</span>
									<input type="text" class="form-control" placeholder="床号"
										id="bedno">
								</div>
							</div>

							<div class="col-md-3 column">
								<div class="input-group">
									<span class="input-group-addon">家庭住址</span> <input type="text"
										class="form-control" placeholder="家庭地址" id="address">
								</div>
							</div>
							
							<div style="display:none;">
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">性别</span> <input type="text"
											class="form-control" placeholder="sex" id="sex">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">年龄</span> <input type="text"
											class="form-control" placeholder="age" id="age">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">身份证</span> <input type="text"
											class="form-control" placeholder="idcard" id="idcard">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">医保卡</span> <input type="text"
											class="form-control" placeholder="micard" id="micard">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">医院就诊卡</span> <input type="text"
											class="form-control" placeholder="hicard" id="hicard">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">症状</span> <input type="text"
											class="form-control" placeholder="symptom" id="symptom">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">备注</span> <input type="text"
											class="form-control" placeholder="memo" id="memo">
									</div>
								</div>
							</div>
							

						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" style="height: 40px;">

						<div class="row clearfix">
							<div class="col-md-3">
								<span>购物清单</span>
							</div>
							<div class="col-md-3"></div>
							<div class="col-md-3"></div>
							<div class="col-md-3">
								<button class="btn btn-xs btn-success pull-right"
									onclick="createrow()" style="margin-top: -2px;">
									<em class="glyphicon glyphicon-plus"></em>添加明细
								</button>
							</div>
						</div>

					</div>
					<div class="panel-body">
						<div class="row clearfix">
							<div class="col-md-12 column">

								<table class="table table-condensed" style="font-size: 14px;">
									<thead>
										<tr>
											<th>序号</th>
											<th style="display: none;">商品ID</th>
											<th>商品编码</th>
											<th>名称/通用名</th>
											<th>规格</th>

											<th>单位</th>

											<th>数量</th>
											<th>单价</th>
											<th>金额</th>
											<th>删除</th>
										</tr>
									</thead>
									<tbody id="cflist">
										<tr>
											<td><span id="numno" style="line-height: 20px;">1</span>
											</td>
											<td style="display: none;"><span id="iproductid"></span>
												<span id="iunitid"></span></td>
											<td><span id="vcproductcode"></span></td>
											<td><input type="text" id="vcuniversalname"
												class="textvcuniversalname" autocomplete="off"
												style="width: 98%;" /></td>
											<td><span id="vcstandard"></span></td>
											<td><span id="unitname">-</span></td>

											<td><input type="text" id="totalcounts"
												autocomplete="off" style="width: 80px;" /></td>
											<td><span id="numprice">0</span></td>
											<td><span id="nummoney">0</span></td>
											<td>
												<button class="btn btn-danger btn-xs" id="btn-del">
													<em class="glyphicon glyphicon-remove"></em>删除
												</button>
											</td>
										</tr>

									</tbody>

									<tbody style="font-size: medium;">
										<br />
										<tr>
											<td colspan="7" class="text-right"><label
												id="moneytotal" style="padding-top: 30px;">合计金额:</label></td>

											<td><label style="padding-top: 30px;" id="moneyall">￥100</label>
											</td>
											<td></td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-body text-center">
						<button class="btn btn-danger">取&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消</button>
						<button class="btn btn-primary" id="submit">提交并购买</button>
					</div>
				</div>



			</div>

			<script th:inline="javascript">
					
			var layer = layui.layer
			  ,form = layui.form;

					$(function() {
						//alert([[${counterids}]]);
						
						initpatientselect();

						//设置下拉选择框
						initselect();

						//设置焦点
						//$('#cflist input:first').focus();

						//初始化按键
						initkey();

						//初始化明细删除键
						initdel();
						
						//数量变动事件
						inittotalcountschange();
						
						//提交按钮
						initSubmit();

					});
					
					function initSubmit(){
						
						$("#submit").click(function(e){
							
							//layer.msg("xxxx");
							//获取数据 同时校验数据
							var ordertype=1;//普通销售单
							var outpatientnumber='';//$("#outpatientnumber").val();
							//var creuserid=[[${epUser.userid}]];
							//var sectionid=[[${epUser.sectionid}]];
							var sex='';//$("#sex").val();
							var age=0;//$("#age").val();
							var idcard='';//$("#idcard").val();
							var micard='';//$("#micard").val();
							var hicard='';//$("#hicard").val();
							var credate='';//$("#credate").val();
							var symptom='';//$("#symptom").val();
							var memo='';//$("#memo").val();
							
							var name=$("#name").val();
							var address=$("#address").val();
							var bedno=$("#bedno").val();
							
							var order={"ordertype":ordertype,"outpatientnumber":outpatientnumber,"bedno":bedno,
									"name":name,"address":address,"sex":sex,
									"age":age,"idcard":idcard,"micard":micard,"hicard":hicard,"symptom":symptom,
									"memo":memo
									};
							
							var orders=[];
							var valiflag=true;
							var trs=$("#cflist tr");
							$.each(trs,function(i,c){
								var numno=$(c).find("#numno").html();
								var iproductid=$(c).find("#iproductid").html();
								var vcproductcode=$(c).find("#vcproductcode").html();
								var vcuniversalname=$(c).find("#vcuniversalname").val();
								var vcstandard=$(c).find("#vcstandard").html();
								var iunitid=$(c).find("#iunitid").html();
								var unitname=$(c).find("#unitname").html();
								var totalcounts=$(c).find("#totalcounts").val();
								var numprice=$(c).find("#numprice").html();
								var nummoney=$(c).find("#nummoney").html();
								
								var row={'numno':numno,'iproductid':iproductid,'vcproductcode':vcproductcode,'vcuniversalname':vcuniversalname,
										'vcstandard':vcstandard,'iunitid':iunitid,'unitname':unitname,'totalcounts':totalcounts,
										'numprice':numprice,'nummoney':nummoney};
								if(numprice==""){
									layer.msg("第"+numno+"行,售价未设置，不允许销售，请删除后再尝试此操作");
									valiflag=false;
								}
								if(totalcounts==""||totalcounts=="0"){
									layer.msg("第"+numno+"行,未填写购买数量，请填写后再尝试此操作");
									valiflag=false;
								}
								if(iproductid==""){
									layer.msg("第"+numno+"行,未选择商品名称。");
									valiflag=false;
								}
								orders.push(row);
								
							})
							//提交到后台
							if(valiflag){
								var orderstr=JSON.stringify(order);
								var ordersstr=JSON.stringify(orders);
								//alert(ordersstr);
								//var data={"order":orderstr,"orders":ordersstr};
								
								 layer.confirm('确定提交订单吗？', {
									  btn: ['确定','取消'] //按钮
									}, function(){
										//展现订单情况  确认就提交  取消则返回
										var data={"order":orderstr,"orders":ordersstr};
										ajaxSubmit(data);
										//layer.msg('的确很重要', {icon: 1});

									}, function(){
										
									}); 
								 
 
							}else{
								return ;
							}
						});
					}
					
					
					function ajaxSubmit(data){
						
						$.ajax({
						    type:"POST",
						    url:"/order/create",
						    dataType:"json",
						    data:data,
						    success:function(data){
						    	//layer.msg(JSON.stringify(data));
						    	var code=data.code;
						    	var msg=data.msg;
						    	if(code=="success"){
						    		var orderid=data.orderid;
						    		//重定向到付款页面
						    		//window.location.href="/pay/scantopay/"+orderid;
						    		window.location.href="/pay/payqrcode/"+orderid;
						    	}else{
						    		layer.alert(msg);
						    	}
						    },
						    error:function(jqXHR){
						    	//layer.msg("发生错误："+jqXHR.status);
						    	layer.alert("发生错误："+jqXHR.status);
						    }
						});
					}
					
					
					function initpatientselect(){
						var url="/inpatient/select";
						$("#inpatientname").bigAutocomplete({
							width: 300,
							url:url,
							callback: function(data) {
								
								$("#name").val(data.name);
								$("#bedno").val(data.bedno);
								$("#address").val(data.address);

							}
						});
						
					}

					//初始化商品信息输入框
					function initselect() {
						var counterids=[[${counterids}]];
						var url='/product/select/'+counterids;
						//alert(url);
						//url: 'http://localhost:85/ezapi/public/index.php/Data/customertest',
						$names = $(".textvcuniversalname");
						$.each($names, function(i, c) {
							//$(this).val($(this).val().toUpperCase());
							$(this).bigAutocomplete({
								width: 543,
								url:url,
								callback: function(data) {
									
									$(c).parent().parent().find("#iproductid").html(data.iproductid);
									$(c).parent().parent().find("#vcstandard").html(data.vcstandard);
									$(c).parent().parent().find("#vcproductcode").html(data.vcproductcode);
									$(c).parent().parent().find("#unitname").html(data.unitname);
									$(c).parent().parent().find("#iunitid").html(data.vcproductunit);
									$(c).parent().parent().find("#numprice").html(data.numprice);

									var precount = $("#cflist tr:first input").length;
									var nexIdx = precount * i + 1;
									$("#cflist input")[nexIdx].focus();
									
									//更新行金额
									var numprice=data.numprice;
									var numtotalcounts=$(c).parent().parent().find("#totalcounts").val()==""?0:$(c).parent().parent().find("#totalcounts").val();
									$(c).parent().parent().find("#nummoney").html(numprice*numtotalcounts);
									
									//更新总金额
					                var moneyall=gettotalmoney();
					                $("#moneyall").html(moneyall);

								}
							});

						});
					}

					function initkey() {
						var $inp = $("#cflist input");
						var length = $inp.length;
						$.each($inp, function(i, c) {
							$(this).bind('keydown', function(e) {
								var key = e.which;
								//alert(key);
								if((key == 13 && "vcuniversalname" != $(this).attr("id")) || key == 39) { //向右或者回车
									e.preventDefault();
									if(i + 1 != length) {
										var nxtIdx = i + 1;
										$("#cflist input")[nxtIdx].focus();
									}
								}
								if(key == 37) { //向左
									e.preventDefault();
									if(i != 0) {
										var preIdx = i - 1;
										$("#cflist input")[preIdx].focus();
									}
								}
								if((key == 40 || key == 13) && $(this).attr("id") == "totalcounts") { //向下
									e.preventDefault();
									createrow();
									/*initselect();
									//设置新行的首个输入框聚焦
									$("#cflist tr:last").find("input:first").focus();
									initkey();*/
								}

							})
						});
					}

					//删除行操作
					function initdel() {
						
						$("#cflist #btn-del").click(function() {
							$(this).parent().parent().remove();
						})

					}
					
					//数量变动事件
					function inittotalcountschange(){

						
						$("#cflist #totalcounts").on("input",function(e){
			                //更新行金额
			                var numtotalcounts=e.delegateTarget.value;
			                var numprice=Number($(this).parent().parent().find("#numprice").html());
			                $(this).parent().parent().find("#nummoney").html(numtotalcounts*numprice);
			                
			                //更新总金额
			                var moneyall=gettotalmoney();
			                $("#moneyall").html(moneyall);
			                
			            });
						
					}
					//获取列表总金额
					function gettotalmoney(){
						var total=0;
						var nummoneys=$("#cflist #nummoney");
						$.each(nummoneys,function(i,c){
							//alert($(c).html());
							var numnoney=$(c).html()==null?0:Number($(c).html());
							total+=numnoney;
						})
						return total;
					}
					
					
					//新加一行
					function createrow() {
						//var rownum=$("#cflist tr").length+1;
						var numno = $("#cflist tr:last").length;
						var rownum = numno == 0 ? 1 : Number($("#cflist tr:last").find('#numno').html()) + 1;
						//var rownum = Number($("#cflist tr:last").find('#numno').html()) + 1;
						var row = '<tr>' +
							'<td>' +
							'<span id="numno">' + rownum + '</span>' +
							'</td>' +
							'<td style="display: none;">' +
							'<span id="iproductid"></span>' +
							'<span id="iunitid"></span>'+
							'</td>' +
							'<td>' +
							'<span id="vcproductcode"></span>' +
							'</td>' +
							'<td>' +
							'<input type="text" id="vcuniversalname"  class="textvcuniversalname " autocomplete="off" style="width: 98%;" />' +
							'</td>' +
							'<td>' +
							'<span id="vcstandard"></span>' +
							'</td>' +

							'<td>' +
							'<span id="unitname">-</span>' +
							'</td>' +
							'<td>' +
							'<input type="number" id="totalcounts"  autocomplete="off" style="width: 80px;"  />' +
							'</td>' +
							'<td>' +
							'<span id="numprice">0</span>' +
							'</td>' +
							'<td>' +
							'<span id="nummoney">0</span>' +
							'</td>' +
							'<td>' +
							'<button class="btn btn-danger btn-xs" id="btn-del"><em class="glyphicon glyphicon-remove"></em>删除</button>' +
							'</td>' +
							'</tr>';

						$("#cflist").append(row);

						initdel();

						initselect();
						//设置新行的首个输入框聚焦
						$("#cflist tr:last").find("input:first").focus();
						initkey();
						
						inittotalcountschange();

					}
				</script>
</body>

</html>