<html>

<head>
<meta charset="utf-8" />
<title>支付</title>
<link rel="stylesheet" href="/static/plugs/layui/css/layui.css"
	type="text/css" />
<link rel="stylesheet"
	href="/static/plugs/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="/static/plugs/bigautocomplete/css/jquery.bigautocomplete.css"
	type="text/css" />



<script type="text/javascript"
	src="/static/plugs/jquery-2.1.1/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
	src="/static/plugs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/plugs/bigautocomplete/js/jquery.bigautocomplete.js"></script>
<script src="/static/plugs/layui/layui.all.js"></script>

<style>
</style>

</head>

<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default navbar-inverse navbar-fixed-top"
					role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span><span
								class="icon-bar"></span><span class="icon-bar"></span><span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">便民药房</a>
					</div>

					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#"><span th:text="${hospital}"></span></a></li>
						</ul>

						<ul class="nav navbar-nav pull-right" style="margin-right: 16px;">

							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" th:text="${epUser.username}"><strong
									class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li><a href="/logout">退出</a></li>
								</ul></li>
						</ul>


					</div>

				</nav>
				<!-- 				<div class="row clearfix" style="margin-top: 60px;">
					<div class="col-md-4 column">
						<h3>支付成功</h3>
					</div>
				</div> -->
				
				<div class="row clearfix" style="margin-top: 60px;">
					<div class="col-md-1 column "></div>
					<div class="col-md-7 column" style="text-align: left;">
						<h3 th:switch="${order.usestatus}">
							<div th:case="'1'">
								<span><img alt="" src="/static/img/success.png" width=48;></span>
								<span>&nbsp;&nbsp;&nbsp;&nbsp;支付成功.</span>
							</div>
							<div th:case="'0'">
								<span><img alt="" src="/static/img/fail.png" width=48;></span>
								<span>&nbsp;&nbsp;&nbsp;&nbsp;尚未支付.</span>
							</div>
						</h3>
					</div>
					<div class="col-md-4 column" style="text-align: right;">
					     <a class="btn btn-danger" href="/index/nurse" style="margin-right:-100px;" >
					     	<span class="glyphicon glyphicon-chevron-left"></span>返回
					     </a>
					</div>
				</div>
				
				
<!-- 				<div class="row clearfix" style="margin-top: 60px;">
					<div class="col-md-12 column">
						<div class="alert alert-success">
							恭喜您，<span th:text="${order.name}"></span>，您的支付已成功.。
						</div>
					</div>
				</div> -->


			</div>
			<div class="row clearfix">

				<div class="col-md-1 column "></div>

				<div class="col-md-7 column ">
				    <hr>
					<p style="text-align: left;">
					    <div class="row clearfix">
					    	<div class="col-md-3 column "><span>客户姓名：</span><span th:text="${order.name}"></span></div>
					    </div>
					    <hr>
					    <div class="row clearfix">
					    	<div class="col-md-6 column "><span>订单编号：</span><span th:text="${order.ordercode}"></span></div>
					    	<div class="col-md-3 column "><span>支付类型：</span>
					    	     <span th:switch="${order.paytypeid}">
									<span th:case="'1'">
										<span>支付宝.</span>
									</span>
									<span th:case="'2'">
										<span>微信.</span>
									</span>
								</span>
					    	</div>
					    	<div class="col-md-3 column "><span>支付金额：</span><span th:text="${order.ordermoney}"></span></div>
					    </div>
						
					</p>
					<hr>
					<p style="text-align: left;">
						
					</p>

					<p>
					<table class="table"
						style="font-size: 14px; margin-left: 0px;">
						<thead>
							<tr>
								<th>名称</th>
								<th>规格</th>
								<th>单价</th>
								<th>数量</th>
								<th>金额</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="info,infoStat : ${orderslist}">
								<td th:text="${info.vcuniversalname}"></td>
								<td th:text="${info.vcstandard}"></td>
								<td th:text="${info.numprice}"></td>
								<td th:text="${info.totalcounts}"></td>
								<td th:text="${info.nummoney}"></td>
							</tr>

						</tbody>
						<tbody>
							<tr>
								<td colspan="4" style="text-align: right;">合计金额:</td>

								<td th:text="${order.ordermoney}"></td>
							</tr>

						</tbody>
					</table>
					</p>
				</div>


				<!-- <div class="col-md-4 column " style="text-align: left;">
					<h3>回到主页</h3>
					<p>
						<img alt="" src="" id="alipay">
					</p>
					<p>
						<a class="btn" href="/index/nurse">点击返回</a>
					</p>
				</div> -->






			</div>

			<script th:inline="javascript">
				var layer = layui.layer, form = layui.form;

				$(function() {

				});
			</script>
</body>

</html>