<html>

<head>
<meta charset="utf-8" />
<title th:replace="fragments/ep::title"></title>

<link rel="stylesheet"
	href="/static/plugs/layui/css/layui.css"
	type="text/css" />
<link rel="stylesheet"
	href="/static/plugs/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="/static/plugs/bigautocomplete/css/jquery.bigautocomplete.css"
	type="text/css" />
	
<link rel="stylesheet" href="/static/css/ep.css" type="text/css" />



<script type="text/javascript"
	src="/static/plugs/jquery-2.1.1/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
	src="/static/plugs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/plugs/bigautocomplete/js/jquery.bigautocomplete.js"></script>
<script src="/static/plugs/layui/layui.all.js"></script>
<script src="/static/js/ep.js"></script>


</head>

<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				
				<nav th:replace="fragments/ep::header"></nav>

				<div class="panel panel-default" style="margin-top: 60px;">
					<div class="panel-heading" style="height: 40px;">

						<div class="row clearfix">
							<div class="col-md-3">
								<span>病人信息</span>
							</div>
							<div class="col-md-3"></div>
							<div class="col-md-3"></div>
							<div class="col-md-3 text-right">
							   <a th:href="@{'/order/orderlist/'+${epUser.usercode}+'/'+${epInpatient.idcard}}">历史购物清单</a>
							</div>
						</div>

					</div>
					<div class="panel-body">
						<div class="row clearfix" style="margin-top: 12px;">

							<div class="col-md-3 column">
								<div class="input-group">
									<span class="input-group-addon">病人姓名</span> <input type="text"
									th:value="${epInpatient.name}"	class="form-control" placeholder="姓名" id="name"  disabled="disabled">
								</div>
							</div>
							<div class="col-md-3 column">
								<div class="input-group">
									<span class="input-group-addon">床&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</span>
									<input type="text" th:value="${epInpatient.room}+' '+${epInpatient.bedno}" class="form-control" placeholder="床号"
										id="bedno"  disabled="disabled">
								</div>
							</div>

							<div class="col-md-3 column">
								<div class="input-group">
									<span class="input-group-addon">家庭住址</span> <input type="text"
									th:value="${epInpatient.address}"	class="form-control" placeholder="家庭地址" id="address"  disabled="disabled">
								</div>
							</div>
							<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">备注</span> 
										<input th:if=" ${optype=='create'}" type="text" class="form-control"  id="memo"placeholder="Memo">
									    <input th:if=" ${optype!='create'}" th:value="${eporder.memo}" type="text" class="form-control"  id="memo"placeholder="Memo">
									</div>
							</div>
							
							<div style="display:none;">
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">性别</span> <input type="text"
										th:value="${epInpatient.sex}"	class="form-control" placeholder="sex" id="sex">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">年龄</span> <input type="text"
											th:value="${epInpatient.age}" class="form-control" placeholder="age" id="age">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">身份证</span> <input type="text"
										th:value="${epInpatient.idcard}"	class="form-control" placeholder="idcard" id="idcard">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">医保卡</span> <input type="text"
											class="form-control" placeholder="micard" id="micard">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">医院就诊卡</span> <input type="text"
										th:value="${epInpatient.regno}"	class="form-control" placeholder="hicard" id="hicard">
									</div>
								</div>
								
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">症状</span> <input type="text"
										th:value="${epInpatient.describe}"	class="form-control" placeholder="symptom" id="symptom">
									</div>
								</div>
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">门诊号</span> <input type="text"
										th:value="${epInpatient.hisinid}"	class="form-control" placeholder="symptom" id="outpatientnumber">
									</div>
								</div>
								<div class="col-md-3 column">
									<div class="input-group">
										<span class="input-group-addon">生日</span> <input type="text"
										th:value="${epInpatient.dob}"	class="form-control" placeholder="symptom" id="birthday">
									</div>
								</div>
								
							</div>
							

						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" style="height: 40px;">

						<div class="row clearfix">
							<div class="col-md-3">
								<span>购物清单</span>
							</div>
							<div class="col-md-3"></div>
							<div class="col-md-3"></div>
							<div class="col-md-3">
								<button class="btn btn-xs btn-success pull-right"
									onclick="createrow()" style="margin-top: -2px;">
									<em class="glyphicon glyphicon-plus"></em>添加明细
								</button>
							</div>
						</div>

					</div>
					<div class="panel-body">
						<div class="row clearfix">
						
						    <div class="col-md-1" style="text-align:center;">
							    <b>序号</b>
							</div>
							<div class="col-md-10">
							    
							    <div class="row clearfix">
							        <div class="col-md-4">
							             <b>通用名、规格</b>
							        </div>
							        
							        <div class="col-md-4">
							            <b>生产厂家</b>
							        </div>
							        
							        <div class="col-md-2 hidden">
							            <b>用法</b>
							        </div>
							        <div class="col-md-2 hidden">
							           <b>用量</b>
							        </div>
							        <div class="col-md-1">
							            		 <b>单价</b>
							        </div>
							        <div class="col-md-2">
							                     <b>数量</b>
							        </div>
							        <div class="col-md-1">
							                     <b>金额</b>
							        </div>
							    </div>
							    
							</div>
							<div class="col-md-1">
							  <b>操作</b>  
							</div>
							 <hr style="margin-top: 2px;">
							 
							 <div id="cflist" >
							 
							 <span  th:if=" ${optype=='edit'||optype=='copy' ||optype=='view'}">
		<div  class="row clearfix cfrow" th:each="order : ${orderslist}" th:id="r+${order.numno}" style="margin-top: -14px;">
							    
								<div class="col-md-1" style="text-align:center;">
								    <span id="numno" style="line-height:50px;" th:text="${order.numno}"></span>
								</div>
								<div class="col-md-10">
								    
								    <div class="row clearfix">
								        <div class="col-md-4">
								             <div class="row clearfix">
												 <input type="text" class=" textvcuniversalname" id="vcuniversalname" th:name="r+${order.numno}+vcuniversalname" th:value="${order.vcuniversalname}"   autocomplete="off"   />
								             </div>
								             <div class="row clearfix">
								               <span id="vcstandard" th:name="r+${order.numno}+vcstandard" th:text="${order.vcstandard}" ></span>
								             </div>
								             
								             <div class="row clearfix hidden">
								              	 <span id="iproductid" th:name="r+${order.numno}+iproductid" th:text="${order.iproductid}" ></span>
								              	 <span id="iunitid" th:name="r+${order.numno}+iunitid" th:text="${order.iunitid}" ></span>
								              	 <span id="vcproductcode" th:name="r+${order.numno}+vcproductcode" th:text="${order.vcproductcode}" ></span>
								              	 
								            </div>
								        </div>
								        
								        <div class="col-md-4">
								             <span id="vcmanufacturer" th:name="r+${order.numno}+vcmanufacturer" th:text="${order.vcmanufacturer}"></span>
								        </div>
								        
								        <div class="col-md-2 hidden">
								             <input type="text" id="usage" th:name="r+${order.numno}+usage" th:value="${order.usage}" />
								        </div>
								        <div class="col-md-2 hidden">
							                <div class="row clearfix">
								                <div class="col-md-12"> 
						<input type="text" id="frequency" th:name="r+${order.numno}+frequency" th:value="${order.frequency}" autocomplete="off" placeholder="频次 如tid" />
								                </div>
							                </div>
							                <div class="row clearfix">
								                <div class="col-md-12">  
							<input type="text" id="dosis" th:name="r+${order.numno}+dosis" th:value="${order.dosis}"  autocomplete="off" placeholder="剂量  如每次3粒"  />
								                </div>
							                </div>  
								        </div>
								        <div class="col-md-1">
		<span id="numprice" th:name="r+${order.numno}+numprice"  th:text="${order.numprice}"></span>
	         <span>/</span>
	        <span id="unitname" th:name="r+${order.numno}+unitname" th:text="${order.vcunitname}" ></span>
								        </div>
								        <div class="col-md-2">
								            <input id="totalcounts" type="number" th:name="r+${order.numno}+totalcounts" th:value="${order.totalcounts}"  autocomplete="off"  />
								        </div>
								        <div class="col-md-1">
	                                       <span id="nummoney" th:name="r+${order.numno}+nummoney" th:text="${order.nummoney}" ></span>
								        </div>
								    </div>
								</div>
								<div class="col-md-1">
									<button class="btn btn-danger btn-xs"  style="margin-top: auto;" id="btn-del">
										<em class="glyphicon glyphicon-remove"></em>删除
									</button>
								</div>
								<hr style="margin-top: 2px;">
							</div>
		
								</span>
								
								
							 
							 </div>
							 
							 <div class="row clearfix cfrow"  style="margin-top: -14px;">
								<div class="col-md-10 text-right">
								   <b><span style="margin-right: -34px;">合计金额:</span></b>
								</div>
								<div class="col-md-2 text-left">
								   <b>
								      <span id="moneyall" th:if=" ${optype=='edit'||optype=='copy' ||optype=='view'}" style="margin-left: 14px;" th:text="${eporder.ordermoney}">0</span>
								      <span id="moneyall" th:if=" ${optype=='create'}" style="margin-left: 14px;" >0</span>
								   </b>
								</div>
							</div>
							 
							 
							
						</div>
					</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-body text-center">
						<button class="btn btn-danger"  onclick="javascript:history.back(-1);">返回&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
						<button class="btn btn-primary" id="submit">提交并购买</button>
					</div>
				</div>



			</div>

			<script th:inline="javascript">
					
			var layer = layui.layer
			  ,form = layui.form;

					$(function() {
						//添加一行
						var optype=[[${optype}]];
						if(optype=="create"){
							createrow();
						}
						if(optype=="view"){
							$("input").attr("disabled","disabled");
						}
						//初始化按键和统计
						initselect();
						initkey();
						inittotalcountschange();
						formattotalcounts();
						//提交按钮
						initSubmit();

					});
					
					function initSubmit(){
						
						$("#submit").click(function(e){
							//获取数据 同时校验数据
							var ordertype=1;//普通销售单
							var outpatientnumber=$("#outpatientnumber").val();
							var sex=$("#sex").val();
							var age=$("#age").val();
							var idcard=$("#idcard").val();
							var micard=$("#micard").val();
							var hicard=$("#hicard").val();
							var credate=$("#credate").val();
							var symptom=$("#symptom").val();
							var memo=$("#memo").val();
							
							var name=$("#name").val();
							var address=$("#address").val();
							var bedno=$("#bedno").val();
							var birthday=$("#birthday").val();
							
							var order={"ordertype":ordertype,"outpatientnumber":outpatientnumber,"bedno":bedno,
									"name":name,"address":address,"sex":sex,
									"age":age,"idcard":idcard,"micard":micard,"hicard":hicard,"symptom":symptom,
									"memo":memo,"birthday":birthday
									};
							
							var orders=[];
							var valiflag=true;
							var trs=$("#cflist .cfrow");
							$.each(trs,function(i,c){
								var numno=$(c).find("#numno").html();
								var iproductid=$(c).find("#iproductid").html();
								var vcproductcode=$(c).find("#vcproductcode").html();
								var vcuniversalname=$(c).find("#vcuniversalname").val();
								var vcstandard=$(c).find("#vcstandard").html();
								var vcmanufacturer=$(c).find("#vcmanufacturer").html();
								var iunitid=$(c).find("#iunitid").html();
								var unitname=$(c).find("#unitname").html();
								var totalcounts=$(c).find("#totalcounts").val();
								var numprice=$(c).find("#numprice").html();
								var nummoney=$(c).find("#nummoney").html();
								
								var row={'numno':numno,'iproductid':iproductid,'vcproductcode':vcproductcode,'vcuniversalname':vcuniversalname,
										'vcstandard':vcstandard,'vcmanufacturer':vcmanufacturer,'iunitid':iunitid,'unitname':unitname,'totalcounts':totalcounts,
										'numprice':numprice,'nummoney':nummoney};
								if(numprice==""){
									layer.msg("第"+numno+"行,售价未设置，不允许销售，请删除后再尝试此操作");
									valiflag=false;
									$(c).find("#vcuniversalname")[0].focus();
									return false;
								}
								if(totalcounts==""||totalcounts=="0"){
									layer.msg("第"+numno+"行,未填写购买数量，请填写后再尝试此操作");
									valiflag=false;
									$(c).find("#totalcounts")[0].focus();
									return false;
								}
								if(iproductid==""){
									layer.msg("第"+numno+"行,未选择商品名称。");
									valiflag=false;
									$(c).find("#vcuniversalname")[0].focus();
									return false;
								}
								if(!checkRate(totalcounts)){
									layer.msg("第"+numno+"行,数量必须为正整数。");
									valiflag=false;
									$(c).find("#totalcounts")[0].focus();
									return false;
								}
								orders.push(row);
								
							})
							//提交到后台
							if(valiflag){
								var orderstr=JSON.stringify(order);
								var ordersstr=JSON.stringify(orders);
								//alert(ordersstr);
								//var data={"order":orderstr,"orders":ordersstr};
								
								 layer.confirm('确定提交订单吗？', {
									  btn: ['确定','取消'] //按钮
									}, function(){
										//展现订单情况  确认就提交  取消则返回
										var usercode=[[${epUser.usercode}]];
										var data={"order":orderstr,"orders":ordersstr,"usercode":usercode};
										ajaxSubmit(data);
										//layer.msg('的确很重要', {icon: 1});

									}, function(){
										
									}); 
								 
 
							}else{
								return ;
							}
						});
					}
					
					
					function ajaxSubmit(data){
						
						$.ajax({
						    type:"POST",
						    url:"/order/create",
						    dataType:"json",
						    data:data,
						    success:function(data){
						    	//layer.msg(JSON.stringify(data));
						    	var code=data.code;
						    	var msg=data.msg;
						    	if(code=="success"){
						    		var orderid=data.orderid;
						    		//重定向到付款页面
						    		//window.location.href="/pay/scantopay/"+orderid;
						    		var usercode=[[${epUser.usercode}]];
						    		window.location.href="/pay/payqrcode/"+orderid+"/"+usercode;
						    	}else{
						    		layer.alert(msg);
						    	}
						    },
						    error:function(jqXHR){
						    	//layer.msg("发生错误："+jqXHR.status);
						    	layer.alert("发生错误："+jqXHR.status);
						    }
						});
					}
					
					
					function initpatientselect(){
						var url="/inpatient/select";
						$("#inpatientname").bigAutocomplete({
							width: 300,
							url:url,
							callback: function(data) {
								
								$("#name").val(data.name);
								$("#bedno").val(data.bedno);
								$("#address").val(data.address);

							}
						});
						
					}

				//初始化商品信息输入框
				function initselect(){
						
					var counterids=[[${counterids}]];
					if(counterids==""){
						var sectionname=[[${sectionname}]];
						var contact=[[${contact}]]
						//如果对应病区柜台没有维护 提示信息显示
						layer.alert("当前您对应的科室:“"+sectionname+"”,相关的药店基本信息未维护，请联系"+contact+"，之后再重新打开此页面。否则不能使用此功能。", {
                            title: "提示信息",
                              btn: ['确定']
				    		},function (index, item) {
								    //window.location.reload();//刷新页面 
				    				layer.close(layer.index);
				    			});
						
					}
					
						
						var counterids=[[${counterids}]];
						var url='/product/select/'+counterids;
						
						var frequency_url='/data/frequency';
						var usage_url='/data/usage';
				 		var mock_url='/data/mock';
						
						var rs=$(".cfrow");
						$.each(rs,function(i,c){
							
						    //var vcuniversalname=$(c).find("#vcuniversalname")
						    var rowid='r'+$(c).find("#numno").html();
							$(c).find("#vcuniversalname").bigAutocomplete({
								width: 543,
								url:url,
								callback:function(data){
									document.getElementsByName(rowid+"vcuniversalname")[0].value=data.vcuniversalname;
									document.getElementsByName(rowid+"vcstandard")[0].innerText=data.vcstandard;
									document.getElementsByName(rowid+"iproductid")[0].innerText=data.iproductid;
									document.getElementsByName(rowid+"vcproductcode")[0].innerText=data.vcproductcode;
									document.getElementsByName(rowid+"iunitid")[0].innerText=data.vcproductunit;
									document.getElementsByName(rowid+"vcmanufacturer")[0].innerText=data.vcmanufacturer;
									document.getElementsByName(rowid+"unitname")[0].innerText=data.unitname;
									document.getElementsByName(rowid+"numprice")[0].innerText=(data.numprice).toFixed(2);
									document.getElementsByName(rowid+"usage")[0].value=data.usage;
									document.getElementsByName(rowid+"frequency")[0].value=data.frequency;
									document.getElementsByName(rowid+"dosis")[0].value='每次'+data.cfyl+data.cfunit;
									document.getElementsByName(rowid+"totalcounts")[0].value=1;
									$("#"+rowid+" #totalcounts").focus();
									//更新行金额
									var numprice=data.numprice;
									     var _numtotalcounts=document.getElementsByName(rowid+"totalcounts")[0].value;
									var numtotalcounts=_numtotalcounts==""?0:_numtotalcounts;
									document.getElementsByName(rowid+"nummoney")[0].innerText=(numprice*numtotalcounts).toFixed(2);
									//更新总金额
					                var moneyall=gettotalmoney();
					                $("#moneyall").html(moneyall); 
	 
								}
							});
							
							
							
							$(c).find("#frequency").bigAutocomplete({
								width: 200,
								url:frequency_url,
								callback: function(data) {
									//document.getElementsByName(rowid+"dosis")[0].value="每次?";
								}
							});	 

							
					 		 
							$(c).find("#usage").bigAutocomplete({
								width: 100,
								url:usage_url,
								callback: function(data) {
									//alert(data.usage);
									//document.getElementsByName(rowid+"usage")[0].value=data.usage;
								}
							}); 
							 
							
						 	//
							$(c).find("#dosis").bigAutocomplete({
								width: 200,
								url:mock_url,
								callback: function(data) {
									$(this).val(data.usage)
									
								}
							});   
							
						
							});
						
					}

					
					
					function initkey() {
						var $inp = $("#cflist input");
						var length = $inp.length;
						$.each($inp, function(i, c) {	

							    var inputid=c.id;
							    if(inputid=="totalcounts"){
							    	$(this).unbind('keydown');
							    }
								$(this).bind('keydown', function(e) {
									var key = e.which;
									//alert(key);
									//if((key == 13 && "vcuniversalname" != $(this).attr("id")) || key == 39) { //向右或者回车
									if((key == 13 && "vcuniversalname" != $(this).attr("id")) ) { //向右或者回车
										e.preventDefault();
										if(i + 1 != length) {
											var nxtIdx = i + 1;
											if($("#cflist input")[nxtIdx]!=null)
												$("#cflist input")[nxtIdx].focus();
										}
									}
									/* if(key == 37) { //向左
										e.preventDefault();
										if(i != 0) {
											var preIdx = i - 1;
											if($("#cflist input")[preIdx]!=null)
												$("#cflist input")[preIdx].focus();
										}
									} */
									  if((key == 40 || key == 13) && $(this).attr("id") == "totalcounts") { //向下
										e.preventDefault();
										createrow();
										
									}  
	
								})
							
						});
						
					}
						
						

					//删除行操作
					function initdel() {
						
						$("#cflist #btn-del").click(function() {
							$(this).parent().parent().remove();
						})

					}
					
					//数量变动事件
					function inittotalcountschange(){

						
						$("#cflist #totalcounts").on("input",function(e){
			                //更新行金额
			                var numtotalcounts=e.delegateTarget.value;
			                var numprice=Number($(this).parent().parent().find("#numprice").html());
			                $(this).parent().parent().find("#nummoney").html((numtotalcounts*numprice).toFixed(2));
			                
			                //更新总金额
			                var moneyall=gettotalmoney();
			                $("#moneyall").html(moneyall);
			                
			            });
						
					}
					
					function formattotalcounts(){
						$.each($("#cflist #totalcounts"),function(i,c){
							$(c).val(parseInt($(c).val()));
							})
					}
					
					//获取列表总金额
					function gettotalmoney(){
						var total=0;
						var nummoneys=$("#cflist #nummoney");
						$.each(nummoneys,function(i,c){
							//alert($(c).html());
							var numnoney=$(c).html()==null?0:Number($(c).html());
							total+=numnoney;
						})
						return total;
					}
					
					
					//新加一行
					function createrow() {
						
						var numno = $("#cflist .cfrow").length;
						var rownum = numno == 0 ? 1 : Number($("#cflist .cfrow:last").find('#numno').html()) + 1;
						var rowid="r"+rownum;
					 
					   var row='<span><div id="'+rowid+'" class="row clearfix cfrow" style="margin-top: -14px;">'+
						    
							'<div class="col-md-1" style="text-align:center;">'+
							    '<span id="numno" style="line-height:50px;">'+rownum+'</span>'+
							'</div>'+
							'<div class="col-md-10">'+
							    
							    '<div class="row clearfix">'+
							        '<div class="col-md-4">'+
							             '<div class="row clearfix">'+
							               '<input type="text" class=" textvcuniversalname" id="vcuniversalname" name="'+rowid+'vcuniversalname"  autocomplete="off"   />'+
							             '</div>'+
							             '<div class="row clearfix">'+
							               '<span id="vcstandard" name="'+rowid+'vcstandard"></span>'+
							             '</div>'+
							             //'<div class="row clearfix">'+
							            //    '<span id="vcmanufacturer" name="'+rowid+'vcmanufacturer"></span>'+
							            // '</div>'+
							             '<div class="row clearfix hidden">'+
							              	' <span id="iproductid" name="'+rowid+'iproductid" ></span>'+
							              	' <span id="iunitid" name="'+rowid+'iunitid"></span>'+
							              	' <span id="vcproductcode" name="'+rowid+'vcproductcode"></span>'+
							             '</div>'+
							        '</div>'+
							        '<div class="col-md-4">'+
							             '<span id="vcmanufacturer" name="'+rowid+'vcmanufacturer"></span>'+
						            '</div>'+
							        '<div class="col-md-2 hidden">'+
							             '<input type="text" id="usage" name="'+rowid+'usage" />'+
							        '</div>'+
							        '<div class="col-md-2 hidden">'+
						                '<div class="row clearfix">'+
							                '<div class="col-md-12"> '+  
							                    '<input type="text" id="frequency" name="'+rowid+'frequency"  autocomplete="off" placeholder="频次 如tid" />'+
							                '</div>'+
						                '</div>'+
						                '<div class="row clearfix">'+
							                '<div class="col-md-12">  '+
							          		    '<input type="text" id="dosis" name="'+rowid+'dosis"  autocomplete="off" placeholder="剂量  如每次3粒"  />'+
							                '</div>'+
						                '</div>  '+
							        '</div>'+
							        '<div class="col-md-1">'+
							            '<span id="numprice" name="'+rowid+'numprice" ></span><span>/</span><span id="unitname" name="'+rowid+'unitname"  ></span>'+
							        '</div>'+
							        '<div class="col-md-2">'+
							            '<input id="totalcounts" type="number" name="'+rowid+'totalcounts"  autocomplete="off"  />'+
							        '</div>'+
							        '<div class="col-md-1">'+
                                       '<span id="nummoney" name="'+rowid+'nummoney" ></span>'+
							        '</div>'+
							    '</div>'+
							'</div>'+
							'<div class="col-md-1">'+
								'<button class="btn btn-danger btn-xs"  style="margin-top: auto;" id="btn-del">'+
									'<em class="glyphicon glyphicon-remove"></em>删除'+
								'</button>'+
							'</div>'+
							'<hr style="margin-top: 2px;">'+
						'</div></span>'

						$("#cflist").append(row);
						

						//initdel();
						$("#"+rowid+" #btn-del").click(function() {
							$(this).parent().parent().remove();
						})
						
						

						//initselect();
						var counterids=[[${counterids}]];
						var url='/product/select/'+counterids;
						$("#"+rowid+" #vcuniversalname").bigAutocomplete({
							width: 543,
							url:url,
							callback:function(data){
								document.getElementsByName(rowid+"vcuniversalname")[0].value=data.vcuniversalname;
								document.getElementsByName(rowid+"vcstandard")[0].innerText=data.vcstandard;
								document.getElementsByName(rowid+"iproductid")[0].innerText=data.iproductid;
								document.getElementsByName(rowid+"vcproductcode")[0].innerText=data.vcproductcode;
								document.getElementsByName(rowid+"iunitid")[0].innerText=data.vcproductunit;
								document.getElementsByName(rowid+"vcmanufacturer")[0].innerText=data.vcmanufacturer;
								document.getElementsByName(rowid+"unitname")[0].innerText=data.unitname;
								document.getElementsByName(rowid+"numprice")[0].innerText=(data.numprice).toFixed(2);
								document.getElementsByName(rowid+"usage")[0].value=data.usage;
								document.getElementsByName(rowid+"frequency")[0].value=data.frequency;
								document.getElementsByName(rowid+"dosis")[0].value='每次'+data.cfyl+data.cfunit;
								document.getElementsByName(rowid+"totalcounts")[0].value=1;
								$("#"+rowid+" #totalcounts").focus();
								//更新行金额
								var numprice=data.numprice;
								     var _numtotalcounts=document.getElementsByName(rowid+"totalcounts")[0].value;
								var numtotalcounts=_numtotalcounts==""?0:_numtotalcounts;
								document.getElementsByName(rowid+"nummoney")[0].innerText=(numprice*numtotalcounts).toFixed(2);
								//更新总金额
				                var moneyall=gettotalmoney();
				                $("#moneyall").html(moneyall); 
 
							}
						});
						
						
						
			 			var frequency_url='/data/frequency';
						$("#"+rowid+" #frequency").bigAutocomplete({
							width: 200,
							url:frequency_url,
							callback: function(data) {
								//document.getElementsByName(rowid+"frequency")[0].value=data.frequency;
							}
						});	 

						
				 		 var usage_url='/data/usage';
						$("#"+rowid+" #usage").bigAutocomplete({
							width: 100,
							url:usage_url,
							callback: function(data) {
								//alert(data.usage);
								//document.getElementsByName(rowid+"usage")[0].value=data.usage;
							}
						}); 
						 
						
					 	var mock_url='/data/mock';
						$("#"+rowid+" #dosis").bigAutocomplete({
							width: 200,
							url:mock_url,
							callback: function(data) {
								$(this).val(data.usage)
								
							}
						});  
						
						
						//设置新行的首个输入框聚焦
						$("#"+rowid).find("input:first").focus();
						
						initkey();
						inittotalcountschange();

					}
				</script>
</body>

</html>